<div class="quiz-card">
  <mat-card>
    <div class="quiz-card-header">
      <h3>Assessment Title</h3>
      <div>
        <lib-countdown-timer/>
      </div>
    </div>
    <form (ngSubmit)="submitQuiz()" *ngIf="form && questions.length > 0" [formGroup]="form">
      <div formArrayName="questions">
        <div *ngFor="let question of questions; let i = index">
          <lib-multiple-question-choice
            [question]="question"
            [quizFormControl]="questionsFormArray.at(i)"
          />
        </div>
      </div>
    </form>
    <div>
      <button (click)="submitQuiz()" mat-stroked-button type="submit">Submit</button>
    </div>
    <app-quiz-map [questions]="questions"/>
  </mat-card>
</div>
